<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::Layout(~{::section})"><head>
    <meta charset="UTF-8">
    <title>This is new Contact Page</title>
</head>
<body>
<section>
    <h1>This is about CodeWithAkshay</h1>
    <h1>you can connect with ME :</h1>
    <h2>My name Akshay Yadav</h2>
    <h3>You can contact me at: 9763979239</h3>
    <h2>My Email Id is:akshaybalasoyadav@gmail.com</h2>


    <p>my name Akshay Balaso Yadav I am grom satara i have complted mty graduation from Shivaji University Kolhapure
        in BCS in mudhoji College Phaltan
        i have completed 2 project in my graduation corrently i am working on my ecommerce website
        using java react html css javasrcipt
        in my family there are four memeber including me
        my father is farmer my mother is house wife and my sister is also student
    </p>
</section>
</body>
</html>