<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
      <h1 style="color:Green">THis is Footer Page</h1>


     <footer id="fragmentag" th:fragment="footer1(title,subtitle)">

         <div class="Container">

             <h1 th:text="${title}"></h1>
             <h1 th:text="${subtitle}"></h1>

             <h1>THis is All About Code With Akshay</h1>
             <h2>Provide Very good quality Content About Programing</h2>
             <h1>My Name Akshay Balaso Yadav I am A java programe...!!!</h1>
                 show up in the widget picker, the widget is stuck, or is missing from the Home Screen
                 The iOS widget system is quite buggy and can fail a lot. This is not a problem with the app and out of my control. Try this.
                 Can you support having multiple pieces of text that change during the day?
                 I would like to keep the app simple, so it’s not something I plan to support built-in.
                 (macOS does not yet have automations. You can use Shortery for now.)
                 can only appear on the left or right side.</p>
         </div>
     </footer>

</body>
</html>